<section class="header-title freeTrail section-padding">
    <div class="container text-center">
        <h2 class="title">Free Trail</h2>
        <span class="sub-title">Home > Free Trail </span>
    </div>
  </section> <!-- header-title -->
  <section class="contact-section freeTrail section-padding20">
      <div class="container">
          <div class="contact-wrapper">
                <form #f="ngForm" [formGroup]="freeTrailForm" (ngSubmit)="onFormSubmit()" autocomplete="off" class="contact-form" novalidate>
                  <div class="row">
                      <div class="col-sm-6 padding-right">
                          <div class="form-group">
                                <input type="text" placeholder="first name"class="form-control" formControlName = "first_name">
                                <div *ngIf="f.submitted || (first_name.invalid && first_name.touched)" class="col-sm-12 text-danger validation-error">
                                      <div *ngIf = "first_name.errors?.required">
                                         First name field can't be blank
                                     </div>
                                     
                                </div>
                          </div>
                      </div>

                      <div class="col-sm-6 padding-left">
                            <div class="form-group">
                                    <input type="text" placeholder="last name" class="form-control" formControlName = "last_name">
                                    <div *ngIf="f.submitted || (last_name.invalid && last_name.touched)" class="col-sm-12 text-danger validation-error">
                                          <div *ngIf = "last_name.errors?.required">
                                             Last name field can't be blank
                                         </div>                               
                                    </div>
                            </div>
                          
                      </div>
                    <div class="col-sm-6 padding-right">
                            <div class="form-group">
                                    <input type="text" formControlName = "email" class="form-control" placeholder="Email">
                                    <!-- Email error block -->
                                    <div *ngIf="f.submitted || (email.invalid && email.touched)" class="col-sm-12 text-danger validation-error">
                                          <div *ngIf = "email.errors?.required">
                                          Email field can't be blank
                                          </div>
                                          <div *ngIf = "email.errors?.pattern">
                                          The email id doesn't seem right
                                          </div>  
                                      </div>
                              </div>
                    </div>

                    <div class="col-sm-6 padding-left">
                        <div class="form-group">
                                <input type="text"  formControlName = "phone" class="form-control" placeholder="Enter your mobile number">
                                <!-- mobileNo error block -->
                               <div *ngIf="f.submitted || (phone.invalid && phone.touched)" class="col-sm-12 text-danger validation-error">
                                <div *ngIf = "phone.errors?.required">
                                   Mobile number field can't be blank
                               </div>
                               </div>
                        </div>
                    </div>                
                  </div>
                  <div class="form-group text-right">
                      <button class="submitBtn btn btn-primary" type="submit">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </section>
  